/* Estilo Comum para Todos os Botões */
.button-common {
    display: inline-block;
    font-family: 'Inter', serif; 
    color: #f9f9f9;
    background-color: #668632; 
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button-common:hover {
    background-color: #C44917; 
}

/* Tamanhos dos Botões */
.button-small {
    display: inline-block;
    margin-top: 9px;
    padding: 0.3rem 0.9rem;
    font-size: 0.75rem;
    margin-left: auto;
}

.button-large {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.7rem 3rem;
    border-radius: 20px;
    font-size: 0.875rem;

}