.main-footer {
    background-color: #B4E2DC;
    height: 150px; /* Ajuste a altura conforme necessário */
    width: auto; /* Ajuste a largura conforme necessário */
    max-width: 1800px; /* Limite máximo de largura */
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px; /* Diminui o tamanho da fonte do nome */
    
}

.main-footer {
    background-color: #B4E2DC;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: relative;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}
.author-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem; /* Espaço acima do nome */
    font-size: 13px; /* Diminui o tamanho da fonte do nome */
}

.icon-copyright {
    width: 10px; /* Define a largura do ícone */
    height: 10px; /* Define a altura do ícone */
    margin-right: 0.2rem; /* Espaço entre o ícone e o nome */
}
