:root {
    --primary-color: #C44917;
    --secondary-color: #668632;
    --background-color: #F1F0EC;
    --text-color: #333;
    --font-family: 'Inter', serif;
}

body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--background-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.home {
    overflow-y: scroll;
}

/* Conteúdo Principal */
main.content {
    flex: 1;
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Container da Biografia */
.bio-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    text-align: left;
    margin-top: 28rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bio-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    font-family: var(--font-family);
    font-size: 1rem;
}

.color-line {
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    border: none;
    margin-top: 0.5rem;
}

.bio-content p {
    font-family: var(--font-family);
    line-height: 1.6;
    font-size: 14px;
}

.bio-content ul {
    font-family: var(--font-family);
    line-height: 1.6;
    font-size: 0.875rem;
}

.bio-content ul {
    padding-left: 1.5rem;
}

.bio-content ul li {
    margin-bottom: 0.5rem;
}

.bio-content ul li span {
    font-weight: bold;
}


/* Miniaturas dos Livros */
.book-thumbnails-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-top: 1px solid #ccc;
    margin-top: -20px;
}

.book-thumbnails {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.book-thumbnail {
    text-align: center;
    flex: 1;
    margin: 0 10px;
    max-width: 200px;
}


.book-thumbnail img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

/* Main da Home */
.main--home {
    text-align: center;
    padding: 1rem 0; 
    background-color: transparent;
    max-width: 800px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center; 
    position: fixed; 
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
}

/* Media Queries para ajustar a posição do botão "Conheça Mabel" na página Home */
@media (max-width: 480px) {
    .main--home {
        bottom: 100px; 
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .main--home {
        bottom: 70px; 
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    .main--home {
        bottom: 60px; 
    }
}

@media (min-width: 1280px) {
    .main--home {
        bottom: 40px; 
    }
}

/* Media Queries da página Sobre */
@media (max-width: 480px) {
    .bio-container {
        margin-top: 5rem; 
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .bio-container {
        margin-top: 20rem; 
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    .bio-container {
        margin-top: 28rem; 
    }
}

@media (min-width: 1280px) and (max-width: 1919px) {
    .bio-container {
        margin-top: 28rem; 
    }
}

@media (min-width: 1920px) {
    .bio-container {
        margin-top: 40rem;  
        max-width: 1200px; 
    }
}

/* Media Queries das páginas grimmsbook, peterpanbook, alicebook, waterbook, e motherbook */
@media (max-width: 480px) {
    .grimms-book .bio-container,
    .peterpan-book .bio-container,
    .alice-book .bio-container,
    .water-book .bio-container,
    .mother-book .bio-container {
        margin-top: 5rem; 
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .grimms-book .bio-container,
    .peterpan-book .bio-container,
    .alice-book .bio-container,
    .water-book .bio-container,
    .mother-book .bio-container {
        margin-top: 20rem; 
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    .grimms-book .bio-container,
    .peterpan-book .bio-container,
    .alice-book .bio-container,
    .water-book .bio-container,
    .mother-book .bio-container {
        margin-top: 28rem; 
    }
}

@media (min-width: 1280px) and (max-width: 1919px) {
    .grimms-book .bio-container,
    .peterpan-book .bio-container,
    .alice-book .bio-container,
    .water-book .bio-container,
    .mother-book .bio-container {
        margin-top: 28rem; 
    }
}

@media (min-width: 1920px) {
    .grimms-book .bio-container,
    .peterpan-book .bio-container,
    .alice-book .bio-container,
    .water-book .bio-container,
    .mother-book .bio-container {
        margin-top: 40rem; 
        max-width: 1200px; 
    }
}
  
