nav {
    background-color: #F9F9F9;
    width: 40%; /* Ajuste a porcentagem conforme necessário */
    height: 2%;
    border-radius: 100px; /* Adiciona bordas arredondadas */
    padding: 1rem;
    position: fixed; /* Mantém o menu fixo no topo */
    top: 30px; /* Ajuste a distância do topo conforme necessário */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #232323;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Gaegu', cursive; /* Aplicando a fonte Gaegu */
}