body {
    background-image: url(FundoHome.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center -30px;
    
}

.footer {
    text-align: center;
    padding: -2rem;
    background-color: transparent; /* Fundo transparente */
    margin: 1rem; /* Empurra o botão "Conheça Mabel" para o final */
    max-width: 800px;
    border-radius: 10px;
    margin-top: auto; /* Garante que o footer fique no final da página */
    position: fixed; /* Fixa o footer na parte inferior da página */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Centraliza o footer horizontalmente */
}

.footer a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.7rem 3rem;
    background-color: #668632; /* Cor verde */
    color: #f9f9f9;
    text-decoration: none;
    border-radius: 20px; /* Bordas arredondadas */
    font-size: 14px; /* Ajusta o tamanho da fonte do botão "Conheça Mabel" */
    font-family: 'Inter', sans-serif; /* Personaliza a fonte do botão */
    transition: background-color 0.3s ease; /* Transição suave para o efeito hover */
}

.footer a:hover {
    background-color: #C44917; /* Cor laranja no hover */
}