body {
    background-image: url(FotoMabel.jpg);
    background-repeat: no-repeat;
    background-size: 100%; /* Ajusta a imagem para cobrir todo o fundo */
    background-color: #F1F0EC;
    font-family: 'Inter', serif; 
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding padrão */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
    box-sizing: border-box; /* Inclui padding e border na largura e altura */
}

main.content {
    flex: 1; /* Faz com que o conteúdo principal ocupe o espaço disponível */
    padding: 5rem 1rem; /* Adiciona espaço ao redor do conteúdo */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo no topo */
}

.bio-container {
    background-color: #f9f9f9; /* Fundo sólido */
    border-radius: 10px;
    padding: 2rem;
    max-width: 800px;
    width: 100%;
    text-align: left; /* Alinha o texto à esquerda */
    margin-top: 28rem; /* Ajusta a margem superior para descer o contêiner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para destaque */
}

.bio-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha o h1 à esquerda */
    margin-bottom: 2rem;
    font-family: 'Inter', serif; 
    font-size: 17px;
}

.color-line {
    width: 100%;
    height: 3px;
    background-color: #C44917; /* Cor laranja */
    border: none;
    margin-top: 0.5rem; /* Espaço entre o h1 e a linha */
}

.bio-content h2 {
    margin-top: 1.5rem; /* Adiciona espaço acima dos subtítulos */
    font-family: 'Inter', serif; /* Fonte para os subtítulos */
    font-size: 16px;
}

.bio-content p {
    font-family: 'Inter', serif; /* Fonte para os parágrafos */
    line-height: 1.6; /* Define o espaçamento entre linhas */
    font-size: 14px;
}

.image-container {
    text-align: center; /* Centraliza a imagem dentro do contêiner */
    margin-top: 1rem; /* Adiciona espaço acima da imagem */
}

.booboo-image {
    background-color: #f9f9f9; /* Fundo sólido */
    width: 90px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    display: inline-block; /* Garante que a imagem seja exibida como um bloco inline */
}

