.bio-header h1 {
    font-size: 24px;
    border-bottom: var(--primary-color) 3px solid;
    width: 100%;
    padding-bottom: 0.8rem;
}

.bio-content h2 {
    font-size: 16px;
    margin-top: 1.5rem;
    font-family: var(--font-family);
    
}

.card-title {
    font-size: 0.90rem; 
    color: var(--text-color); 
    font-weight: bold;
    margin: 0.1rem 0 0.05rem 0;
    font-family: var(--font-family); 
}

.card-text {
    font-size: 0.70rem; 
    color: var(--text-color); 
    margin: 0; 
    font-family: var(--font-family); 
}

.card-subtitle {
    font-size: 0.75rem;
    color: var(--text-color);
    font-weight: bold;
    margin: 0.1rem 0;
    font-family: var(--font-family);
}

.card-text1 {
    font-size: 0.70rem;
    color: var(--text-color);
    margin: 0.5rem 0;
    font-family: var(--font-family);
}

.card-text2 {
    font-size: 0.70rem;
    color: var(--text-color);
    margin: 0.5rem 0;
    font-family: var(--font-family);
}

.book-thumbnails-container h2 {
    font-family: var(--font-family);
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.book-thumbnail h3 {
    margin-bottom: 8px;
    font-family: var(--font-family);
    font-size: 0.875rem;
}